@media(min-width: 768px) { /* Desktop screens */
    .email-form { /* Input Email form */
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .mobile-text { /* Hide the "Twitter" text on larger screens */
        display: none;
    }
}

@media (max-width: 768px) { /* Mobile screens */ 
    .crypto-address { /* Support me crypto adresses */
        word-break: break-all;
        white-space: pre-wrap; 
    }
    .desktop-text { /* Hide the long text on mobile */
        display: none;
    }
}

.whatcoinistracked { /* The title of the pairs boxes */
    text-align: center;
    font-size: 20px;
    padding-bottom: 20px;
    font-weight: 1000;
}

.prices-container { /* All the pairs boxes */
    background-color: #fff;
    border: 4px solid #444444;
    padding: 20px;
    border-radius: 44px;
    max-width: 315px;
    position: relative;
}

.crypto-logo { /* The crypto logos in the price boxes */
    position: absolute;
    top: 12px;
    left: 20px;
    width: 30px;
    height: auto;
}

.prices-container p { /* The paragraphs inside the pairs boxes */
    font-size: 16px;
    line-height: 1.25;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

.prices-container p[id$="Price"] { /* Specifily the price boxes of the pairs */
    background-color: #c9fdcf;
    border: 2px solid #000000;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.prices-container p[id$="Arbitrage"] { /* Specifily the Arbitrage % boxes of the pairs */
    font-weight: bold;
    background-color: #f9f9f9; 
    border: 2px solid #000000;
    padding: 9px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    margin-bottom: 6px; 
}

.main-section {  /* Background color of all pages */ 
    background-color: #a1a1a1;
}
  
.content-box { /* How, Support and FAQ page Content box */
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin: 20px 0; 
}
  
.navbar { /* The navbar on the TOP TOP of website */
    font-size: 1.2rem;
}

.navbar-brand { /* Specifily the ''Arbitrage Tracker'' Text */
    padding: 14px 5px; 
    font-size: 2rem; 
}

.text-stroke { /* Shadow around text */
    text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}